html {
    font-size: 10px;
    background-color: #f4f4f4;
   
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 7vw;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
        0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    text-align: center;

}

.keys {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.key {
    border: .2rem solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 .5rem black;
    box-shadow: 0 6px 6px -6px black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
